

.conte-img {
    width: 100;
    display: flex;
        justify-content: center;
        align-items: center;

}

.img-mas {
    width: 100000px;
    max-width: 500px;
    border-radius: 14px;
}



