.cabecera{
   text-align: center;
   padding: 25px;
   background: linear-gradient(135deg, rgb(13, 82, 172), rgba(6, 140, 189, 0.31));
}

.acordion{
    padding: 15px;
}

.header{
     background: #72444479;
     margin-bottom: 10px;
}
.faq-content{
    padding: 15px;
    font-size: 14px;
    border-radius: 10px;
}