
.footer{
    background-color: #222222;
    padding-top: 10px;
    padding-bottom: 5px;
}
.redes{
    display: grid;
    gap: 20px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));   
}

a{
    text-decoration: none;
    color: aliceblue;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.icono-footer{
    width: 100%;
    font-size: 25px;
    margin-bottom: 9px;

}

.copyright{
    text-align: center;
    color: #ffffffd1;
    margin-bottom: 10px;
}
