<ion-footer class="footer">
  <div class="redes">
    <ion-button class="a1" routerLink="/cantidad">Cantidad</ion-button>
    <ion-button class="a1" routerLink="/preguntas">Preguntas Frecuentes</ion-button>
    <ion-button class="a1" routerLink="/formas">Formas</ion-button>
    <ion-button class="a1" routerLink="/precios">Precios</ion-button>
  </div>

  <div class="redes">
    <a href="https://www.facebook.com/" target="_blank">
      <ion-icon name="logo-facebook"  class="icono-footer" style="color: #0765FC;"></ion-icon>
      Facebook
    </a>
  
    <a href="https://www.youtube.com/" target="_blank">
      <ion-icon name="logo-youtube"  class="icono-footer" style="color: #FF0033;"></ion-icon>
      Youtube
    </a>

    <a href="https://wa.me/" target="_blank">
      <ion-icon name="logo-whatsapp" class="icono-footer" style="color: #39C762;"></ion-icon>
      Whatsapp
    </a>
  </div>


  
  <h5 class="copyright">
    Derechos Reservados © 2024 Cristhian
  </h5>

</ion-footer>