<ion-footer class="footer">
  <div class="redes-sociales">
    <a href="https://www.facebook.com" target="_blank">
      <ion-icon name="logo-facebook" style="color: blue;"> </ion-icon>
      <span>Facebook</span>
    </a>

    <a href="https://www.youtube.com/" target="_blank">
      <ion-icon name="logo-youtube" style="color: rgb(209, 3, 3);"></ion-icon>
      <span>YouTube</span>
    </a>

    <a href="https://wa.me/" target="_blank">
      <ion-icon name="logo-whatsapp" style="color: aquamarine;" ></ion-icon>
      <span>Whatsapp</span>
    </a>

    <a href="https://www.instagram.com/" target="_blank">
      <ion-icon name="logo-instagram" style="color:rgb(192, 46, 27);"></ion-icon>
      <span>instagram</span>
    </a>
  </div>

  <div class="enlaces-rapidos">
    <ion-button>
      <a routerLink="/cantidad" (click)="navegar()">CANTIDADES DE PAPAS</a>
    </ion-button>

    <ion-button>
      <a routerLink="/formas" (click)="navegar()">FORMAS DE PAPA</a>
    </ion-button>

    <ion-button>
      <a routerLink="/precios" (click)="navegar()">PRECIOS DE PAPAS</a>
    </ion-button>
    
    <ion-button>
      <a routerLink="/preguntas"  (click)="preguntas()">PREGUNTAS FRECUENTES</a>
    </ion-button>

  </div>
  
</ion-footer>