ion-card {
  border-radius: 20px;
  border: 5px solid #0843c4;        /* borde */
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.45);
  margin-bottom: 15px;
}

h1, h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card2 {
    width: 200px;
    margin: 20px auto;
    border-radius: 18px;
    box-shadow: 20 20px 20px rgb(255, 8, 0)
    ;
}

.img {
     width: 100%;
     border-radius:250px ;
     margin-bottom: 16px;

}



.carg {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding: 30px;
}


