ion-card {
  border-radius: 20px;
  border: 4px solid #366b25;        /* borde */
  box-shadow: 0 15px 25px rgba(107, 168, 47, 0.45);
  margin-bottom: 15px;
}

h1, h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card2 {
    width: 150px;
    margin: 20px auto;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(222, 65, 65, 0.45)
    ;
}

.img {
     width: 100%;
     border-radius:16px ;
     margin-bottom: 15px;

}



.carg {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}

.carg {
  display: grid;
  grid-template-columns:  repeat(3,1fr);
  gap: 20px ;
  padding: 10px;
  



}
