


<app-header-global> 

  
</app-header-global>


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> POTATO PROGRAMMER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div  class="carg">
    <ion-card  class="card2"    *ngFor="let p of productos" (click)="irvermas(p)"  >
      <img [src]="p.imagen" class="img"  />
    <ion-card-header>
       <ion-card-title class="titulo"> {{p.titulo}} </ion-card-title>
       <ion-card-subtitle class="precio">precio:$ {{p.precio}}</ion-card-subtitle>
    </ion-card-header>
    </ion-card>
  </div>

  <ion-card>
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>feo david</h2></ion-text>
  </ion-card>
  
  <ion-card>
    <ion-img src="assets/fotos/2.jpg" class="imagen_2" >
    </ion-img>
    
  <ion-card-header> 
      <ion-card-title> SUS GAFAS </ion-card-title>
      <ion-card-subtitle color="danger"> SON FEAS </ion-card-subtitle>
  </ion-card-header>  
  
    <ion-text>
    <h2>David no sabe nada</h2>
    </ion-text>
  </ion-card>
  
  <ion-card>
  <ion-card-header>
    <ion-card-title>PERRITO CON GAFAS</ion-card-title>
    <ion-card-subtitle>BONITO</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/fotos/2.jpg" />
        </ion-thumbnail>
        <ion-label>SUS GAFAS AZULES</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/fotos/2.jpg" />
        </ion-thumbnail>
        <ion-label>ES PEQUEÑO</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/fotos/2.jpg" />
        </ion-thumbnail>
        <ion-label>ES BONITO</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="assets/fotos/2.jpg" />
        </ion-thumbnail>
        <ion-label>TIENE SARNA</ion-label>
      </ion-item>
    </ion-list>

  </ion-card-content>
</ion-card>
  

<ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>

<div class="carg">
  <ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>

  <ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>


  <ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>

  <ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>

  <ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>

  <ion-card class="card2">
     <ion-img src = "assets/fotos/3.webp"  class="imagen_1"></ion-img> 
     <ion-text><h1>HOLA </h1></ion-text>
    <ion-text><h2>SOY UNA PAPA FEA</h2></ion-text>
  </ion-card>
</div>

</ion-content>