.contenedor {
  margin-top: 20px;
  text-align: center;
}
h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Georgia';
    background-color: #072fb4a6;
    text-decoration: underline;
    font-style: italic;
    padding: 15px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}


.foto {
  width: 200px;
}
.titulo {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Georgia';
  color: #4a90e2;
}

.subtitulo {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #e67e22;
}

.descripcion {
  text-align: center;
  font-size: 18px;
  font-family: 'Arial';
  color: #2c3e50;
}
