.contenedor-vermas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


.imagen{
     width: 100%;
     max-width: 350px;
     border-radius: 18px;
     padding: 10px;
     box-shadow: 0px 8px 20px rgba(218, 22, 48, 0.316);
}