.contenedor-vermas{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}


.imagen{
     width: 100%;
     max-width: 450px;
     border-radius: 100px;
     padding: 10px;
     box-shadow: 10px 8px 30px rgba(193, 223, 59, 0.316);
}

