#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #000000;

  margin: 0;
}

#container a {
  text-decoration: none;
}







.imagen_1{
width: 150px;
height: 75px;
}

.imagen_2{
width: 150px;
height: 75px;
}

.imagen_3{
width: 150px;
height: 75px;
}