<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      New Proyect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text color="warning">
          <h1>NOMBRE</h1>
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text color="warning">
          <h1>CRISTHIAN CHICAIZA</h1>
        </ion-text>
      </ion-col>      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="warning">
          <h2>FECHA:</h2>
        </ion-text>
      </ion-col>
      
      <ion-col>
        <ion-text color="warning">
          <h3>21 DE NOVIEMBRE DEL 2025</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    
    
    <ion-row>
      <ion-col>
        <ion-text color="warning">
          <h4>Universidad: </h4>
        </ion-text>
      </ion-col>
      
      <ion-col>
        <ion-text color="warning">
        <h5>UPSE</h5>

      </ion-text>
      </ion-col>
    </ion-row>

  <ion-row> 
      <ion-col>
        <small>CURSO</small>
      </ion-col> 

       
  
  <ion-col>
        <small>Diseño web</small>
        <ion-img src="assets/fotos/1.png" class="imagen_1"></ion-img>
        <ion-img src="assets/fotos/2.jpg" class="imagen_2"></ion-img>
        <ion-img src="assets/fotos/3.webp" class="imagen_3"></ion-img>

        

  </ion-col>      
  </ion-row>

  </ion-grid>

</ion-content>
